body {
    background-size: 100%;
    margin-top: 150px;
    margin-bottom: 80px;
    background-image: url("/static/jpg/rutin1.jpg");
    background-attachment: fixed;
}

#main {
    border-style: none;
    background-color: rgba(0, 255, 255, 0.75);
    position: absolute;
    padding: 20px;
    top: 140px;
    bottom: 80px;
    left: 20%;
    right: 20%;
    width: 60%;
    min-width: 1000px;
    text-align: center;
    align-content: center;
}

#putin {
    position: relative;
    left: 20px;
    vertical-align: middle;
}

#header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 255, 0.75);
    width: 100%;
    height: 70px;
    text-align: center;
    border-radius: 0% 0% 5% 5%;
    margin-bottom: 0%;
    min-width: 1400px;
}

#description {
    position: absolute;
    top: 70px;
    left: 5%;
    right: 5%;
    background-color: rgba(0, 0, 255, 0.75);
    width: 90%;
    height: 80px;
    text-align: center;
    border-radius: 0% 0% 100% 100%;
    margin-bottom: 0%;
    min-width: 1200px;
    z-index: 1000;
}

.anime {
    border-style: none;
    background-color: rgb(64, 64, 255);
    border-radius: 3%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10px;
    width: 90%;
    height: 200px;
    transition-duration: 0.5s;
    align-content: center;
}

.preview {
    position: relative;
    height: 180px;
    white-space: pre;
    top: 10px;
    left: 10px;
    float: left;
    transition-duration: 0.5s;
}

.anime:hover {
    background-color: rgba(0, 0, 255, 1);
    border-radius: 10%;
    height: 500px;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.75);
}

.anime:hover .preview {
    height: 400px;
    top: 50px;
    left: 50px;
    border-radius: 10%;
}

h2 {
    font-family: Georgia, serif;
    color: rgba(0, 255, 255, 1);
    word-break: break-all;
    font-size: 16pt;
    margin: auto;
}

h3 {
    word-break: break-all;
    position: relative;
    font-size: 45pt;
    color: rgba(0, 255, 255, 1);
    margin: auto;
    top: 10px;
    transition-duration: 0.5s;
}

.anime:hover h3 {
    top: 50px;
}

#information {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 255, 0.75);
    border-radius: 5% 5% 0% 0%;
    text-align: center;
    margin-top: 0%;
    text-align: center;
    justify-content: center;
    color: rgba(0, 255, 255, 1);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.vk {
    position: relative;
    left: 20px;
    height: 15px;
    transition-duration: 0.5s;
}

.vk:hover {
    filter: invert(1);
}

a {
    text-decoration: none;
}

h1 {
    font-family: Impact, sans-serif;
    color: rgba(0, 255, 255, 1);
    font-size: 60px;
    top: 5px;
    text-align: center;
    margin: 0%;
    transition-duration: 0.5s;
}

h1:hover {
    color: rgba(0, 255, 255, 0.75);
}