body {
    background-size: 100%;
    margin-top: 70px;
    margin-bottom: 80px;
    background-image: url("/static/jpg/rutin1.jpg");
    background-attachment: fixed;
}

#main {
    border-style: none;
    background-color: rgba(0, 255, 255, 0.75);
    position: absolute;
    padding: 20px;
    top: 70px;
    bottom: 80px;
    left: 20%;
    right: 20%;
    width: 60%;
    min-width: 1000px;
    text-align: center;
    align-content: center;
    display: flex;
}

h1 {
    font-family: Impact, sans-serif;
    color: rgba(0, 255, 255, 1);
    font-size: 60px;
    top: 5px;
    text-align: center;
    margin: 0%;
    transition-duration: 0.5s;
}

h1:hover {
    color: rgba(0, 255, 255, 0.75);
}

#header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 255, 0.75);
    width: 100%;
    height: 70px;
    text-align: center;
    border-radius: 0% 0% 5% 5%;
    margin-bottom: 0%;
    min-width: 1400px;
}

#preview {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 350px;
    float: left;
    border-radius: 1%;
}

#inf {
    position: absolute;
    left: 410px;
    top: 30px;
    right: 30px;
    text-align: center;
}

#name {
    position: relative;
}

#description {
    position: relative;
}

#information {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 255, 0.75);
    border-radius: 5% 5% 0% 0%;
    text-align: center;
    margin-top: 0%;
    text-align: center;
    justify-content: center;
    color: rgba(0, 255, 255, 1);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.vk {
    position: relative;
    left: 20px;
    height: 15px;
    transition-duration: 0.5s;
}

.vk:hover {
    filter: invert(1);
}

a {
    text-decoration: none;
}

h2 {
    font-family: Georgia, serif;
    color: rgba(0, 0, 255, 1);
    word-break: break-all;
    font-size: 32pt;
    margin: auto;
}

h3 {
    word-break: break-all;
    position: relative;
    font-size: 20pt;
    color: rgba(0, 0, 255, 1);
    margin: auto;
    top: 30px;
}