body {
    background-size: 100%;
    margin-top: 70px;
    margin-bottom: 80px;
    background-image: url("/static/jpg/rutin1.jpg");
    background-attachment: fixed;
}

.genre {
    display: flex;
    border-style: none;
    background-color: rgb(64, 64, 255);
    border-radius: 3%;
    margin: 10px;
    width: 200px;
    height: 100px;
    align-items: center;
    justify-content: center;
    line-height: 100px;
    display: inline-block;
    transition-duration: 0.5s;
}

.genre:hover {
    background-color: rgba(0, 0, 255, 1);
    border-radius: 5%;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.75);
    font-size: 18pt;
    text-shadow: rgba(0, 0, 0, 0.75);
}

h3 {
    font-family: "Comic Sans MS", sans-serif;
    color: rgba(0, 255, 255, 1);
    font-size: 16pt;
    transition-duration: 0.5s;
    vertical-align: middle;
    margin-top: 0%;
}

.genre:hover h3 {
    font-size: 18pt;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 255, 0.75);
    width: 100%;
    height: 70px;
    border-radius: 0% 0% 5% 5%;
    margin-bottom: 0%;
    z-index: 1000;
}

h1 {
    font-family: Impact, sans-serif;
    color: rgba(0, 255, 255, 1);
    font-size: 60px;
    top: 5px;
    text-align: center;
    margin: 0%;
    transition-duration: 0.5s;
}

h1:hover {
    color: rgba(0, 255, 255, 0.75);
}

h2 {
    font-family: "Arial Black", sans-serif;
    color: rgba(0, 0, 255, 1);
    font-size: 34pt;
}

#main {
    border-style: none;
    background-color: rgba(0, 255, 255, 0.75);
    position: absolute;
    padding: 20px;
    top: 70px;
    bottom: 80px;
    right: 20%;
    left: 20%;
    text-align: center;
}

#information {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 255, 0.75);
    border-radius: 5% 5% 0% 0%;
    text-align: center;
    margin-top: 0%;
    text-align: center;
    justify-content: center;
    color: rgba(0, 255, 255, 1);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.vk {
    position: relative;
    left: 20px;
    height: 15px;
    transition-duration: 0.5s;
}

.vk:hover {
    filter: invert(1);
}

a {
    text-decoration: none;
}