<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/anime.css">
    <title>Аниме "{{ anime.name }}"</title>
</head>
<body>
    <header id="header"><a href="/"><h1>Аниме от Рутина</h1></a></header>
    <br>
    <div id="main">
        <div id="allinf">
            <img id="preview" src="/static/jpg/anime_preview/{{ anime.id }}.jpg" src="/static/jpg/anime_preview/error.jpg">
            <div id="inf">
                <div id="name"><h2>{{ anime.name }}</h2></div>
                <div id="description"><h3>{{ anime.description }}</h3></div>
            </div>
        </div>
        <br>
    </div>
    <div id="information">
        Никита Покладов <a href="https://vk.com/krutonik"><img class="vk" src="/static/jpg/vk.png"></a>
        <br>
        Дмитрий Пискунов <a href="https://vk.com/snake_ey3s"><img class="vk" src="/static/jpg/vk.png"></a>
        <br>
        Алексей Рыбаков <a href="https://vk.com/a1f1l1"><img class="vk" src="/static/jpg/vk.png"></a>
    </div>
</body>
</html>
