<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/animes.css">
    <title>Аниме с жанром "{{ genre.name }}"</title>
</head>
<body>
    <header id="header"><a href="/"><h1>Аниме от Рутина</h1></a></header>
    <header id="description"><h2>{{ genre.description }}</h2></header>
    <br>
    <div id="main">
        {% for anime in animes %}
            <div class="anime">
                <img class="preview" src="/static/jpg/anime_preview/{{ anime.id }}.jpg" src="/static/jpg/anime_preview/error.jpg">
                <a class="name" href="/anime/{{ anime.id }}"><h3>{{ anime.name }}</h3></a>
                <br>
            </div>
        {% endfor %}
    </div>
    <div id="information">
        Никита Покладов <a href="https://vk.com/krutonik"><img class="vk" src="/static/jpg/vk.png"></a>
        <br>
        Дмитрий Пискунов <a href="https://vk.com/snake_ey3s"><img class="vk" src="/static/jpg/vk.png"></a>
        <br>
        Алексей Рыбаков <a href="https://vk.com/a1f1l1"><img class="vk" src="/static/jpg/vk.png"></a>
    </div>
</body>
</html>
