<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Аниме от Рутина</title>
</head>
<body>
    <header id="header"><a href="/"><h1>Аниме от Рутина</h1></a></header>
    <br>
    <div id="main">
        <h2>Жанры на любой вкус!</h2>
        {% for genre in genres %}
            <div class="genre"><a href="/{{ genre.id }}"><h3>{{ genre.name }}</h3></a></div>
        {% endfor %}
    </div>
    <br>
    <div id="information">
        Никита Покладов <a href="https://vk.com/krutonik"><img class="vk" src="/static/jpg/vk.png"></a>
        <br>
        Дмитрий Пискунов <a href="https://vk.com/snake_ey3s"><img class="vk" src="/static/jpg/vk.png"></a>
        <br>
        Алексей Рыбаков <a href="https://vk.com/a1f1l1"><img class="vk" src="/static/jpg/vk.png"></a>
    </div>
</body>
</html>
